[Unit]
Description=asndrop
After=nftables.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/nft -f "/usr/local/etc/asndrop.rulelist"

[Install]
WantedBy=multi-user.target
